<!-- Navigation
    ================================================== -->
<div class="hero-background">
    <div>
        <img class="strips" src="assets/images/strips.png">
    </div>
    
    <div class="container">
        <a class="navbar-brand logo" href="#"> <img class="logo" src="assets/images/logo.png"/></a>
        <h1 class="header-headline bold"> Welcome To Turntabl Twitter Analysis</h1>
        <div class="header-container header">
            
            
             <a href="#twitter-form">
                 
                <div class="header-center" >
                <button class="header-btn" href="#twitting" type="button" >Timeline!</button>
            </div>
            
            
            <div class="header-center" >
                <button class="header-btn" href="#twitting" type="button">Most Retweets!</button>
            </div>
            
            <div class="header-center" >
                <button class="header-btn" href="#twitting" type="button">Most Polific Tweeters!</button>
            </div>
            
                </a>
        </div>
        <!--navigation-->


        <!-- Hero-Section
          ================================================== -->

        <div class="hero row">
            <div class="hero-right col-sm-6 col-sm-6" align="right">
                
                
               
            </div><!--hero-left-->

           
            <div><img class="mouse" src="assets/images/mouse.svg"/></div>

        </div><!--hero-->

    </div> <!--hero-container-->

</div><!--hero-background-->

<!-- Footer
  ================================================== -->

<div class="footer">

    <div class="container">
        <div class="row">

            <div class="col-sm-2"></div>

            <div class="col-sm-8 webscope">
                <span class="webscope-text"><font size="3">A Concrate twitter analysis by Team-HaFlume @Turntabl 2019 </font></span>
                
            </div>
            <!--webscope-->

            <div class="col-sm-2">
                <div class="social-links">
                    <a href="https://twitter.com/webscopeapp"> <img class="social-link"
                                                                    src="assets/images/twitter.svg"/> </a>
                </div>
                <!--social-links-->
            </div>
            <!--social-links-parent-->

        </div>
        <!--row-->

    </div>
    <!--container-->
</div>
<!--footer-->
